/*

	00. Body and things that we don't change
	01. Header
	02. Navigation
	03. About me/Portfolio Section
	04. Works Grid
	05. About Section
	06. Contact Section
	07. Twitter Module
	08. Social Module
	09. Footer
	
	
*/


/* 00. BODY AND WRAPPER ================================================== */

body, html {
	margin:0px auto;
	width:100%;
	background-color:#FFF;
	color:#333;
	font-family:'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
	font:12px;
	position:absolute;
    top:0px;
    left:0px;
    bottom:0px;}


#wrapper {
	position:absolute;
	top:100%;
  margin-top:-60px;
	width:100%;}

.inner {
	width:100%;
	max-width:600px;
	margin:0px auto;
	text-align:center;
	display:block;}

.title_line {
    border-bottom: 1px solid #D5D5D5;
    display: block;
    height: 1px;
    margin: auto;
    width: 90px;
}

.copy {
  text-align: justify;
  margin-bottom: 15px;
  font-family: 'Open Sans';
  line-height: 1.2;
  color: #ccc;
}

.lead {
	font-family:'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#BBB;
	margin-bottom:0px;
	padding:30px 30px 30px 30px;
	font-size:22px;}

.lead a {
	color:#00aed7;
	text-decoration: none;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.lead a:hover {
	color:#777;
}

a {
  color: #00ec1c;
}

a:hover {
  color: #fff;
}

h3 {
  font-family: 'Montserrat';
  font-size: 14pt;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
  text-align: left;
}
/* 01. HEADER ================================================== */


header {
	width:100%;
	height:100%;
	text-align:center;
	color:#00ec1c;
	position:absolute;
	background:url('http://sphotos-f.ak.fbcdn.net/hphotos-ak-ash4/466076_379895285452239_555699419_o.jpg') no-repeat center center fixed;  /* DONT FORGET TO CHANGE IT TOO IN MEDIA.CSS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment : fixed;  /* FIXED FOR IE */
    min-width: 100%;
    min-height: 100%;
    }
 

header h1 {
	font-family:'MagnetoBold', helvetica-neue, helvetica, arial, sans-serif;
	font-size:150px;
	letter-spacing:5px;
	font-weight:lighter;
	position:relative;
	margin:18% auto 0px auto;
	z-index: 999;}

.roles {
    font-family:      'MagnetoBold', helvetica-neue, helvetica, arial, sans-serif;
    font-size:         46pt;  
    font-weight:       bold;  
    display:           inline-block;
    line-height:       70px;
    height:            70px;
    vertical-align:    middle;
    overflow:          hidden;
    color:             #FFFFFF;
    padding: 0 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    z-index: 999;
}

.roles div {
    height:             70px;
    -webkit-transition: margin-top 0.8s ease-in-out;
    -moz-transition:    margin-top 0.8s ease-in-out;
    -o-transition:      margin-top 0.8s ease-in-out;
    transition:         margin-top 0.8s ease-in-out;
}

.banner-images {
    font-family:      'MagnetoBold', helvetica-neue, helvetica, arial, sans-serif;
    font-size:         46pt;  
    font-weight:       bold;  
    display:           inline-block;
    line-height:       70px;
    height:            70px;
    vertical-align:    middle;
    overflow:          hidden;
    color:             #FFFFFF;
    padding: 0 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    z-index: 999;
}

.banner-images div {
    height:             70px;
    -webkit-transition: margin-left 0.8s ease-in-out;
    -moz-transition:    margin-left 0.8s ease-in-out;
    -o-transition:      margin-left 0.8s ease-in-out;
    transition:         margin-left 0.8s ease-in-out;
}


/* 02. NAVIGATION ================================================== */


nav {
	width:100%;
	height:60px;
	background-color:#333;
	margin:0px;
	z-index:999;
}

nav img {
  height: 50px;
  margin: 5px 5px 0px 0px;
}

nav #menu-icon {
  display: none;
}

nav ul {
		float:right;
		display:inline-block;
		margin-right:10px;
		margin-top:20px;
		list-style:none;
		vertical-align:middle;}

nav ul li {
	display:inline-block;
	vertical-align:middle;
	line-height:14px;}

nav ul li a {
	color:#AAA;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:8pt;
	margin:5px 18px 0px 18px;
	padding:18px 0px;
	vertical-align:middle;
	text-decoration:none;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	z-index: 1;}

nav ul li a:hover  {
	color:#EEEEEE;}

#nav .selected a {
    color:#00ec1c;}

	
nav li:last-child a {
	border-right: 0;
}

.my-sticky-nav.stuck{
	position:fixed;
	top:0;
}

/* Mobile Navigation Display none if no iDevice */

nav select {
      display: none;
    }

/* 03. PORTFOLIO SECTION ================================================== */


#who {
	background-color:#111;
	padding:70px 0px 50px;
	margin:0px auto;
	text-align:center;
	display:block;}


#who h2 {
	color:#555;
	font:40pt 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;;
	padding: 30px 0px 0px 0px;}

/* 05. ABOUT SECTION ================================================== */

#what {
	background:#181818;
	padding:70px 0px 50px;}
	
#what .inner {
	width:100%;
	height:100%;
	margin:0px auto;
	text-align:center;}

#what h2 {
	color:#555;
	font:40pt 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
	padding: 30px 0px 0px 0px;}
	
/* 06. CONTACT SECTION ================================================== */


#when-where {
	background-color:#090909;
	padding:70px 0px 50px;}

#when-where h2 {
	color:#555;
	font:40pt 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
	padding: 30px 0px 0px 0px;}

#when-where .row {
	font-family:'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
		line-height:24px;
		color:#777;
		font-size:14px;
		margin-bottom:30px;
		margin-top:30px;}

#when-where .row .col1 {
	width:35%;
	padding:0px 3%;
	display:inline-block;
	vertical-align:text-top;
	text-align:justify;}

#when-where .row .col2 {
	width:55%;
	display:inline-block;
	vertical-align:text-top;
	text-align:left;}

#when-where .inner h4 {
	color:#555;
	font-family:'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
	text-transform:uppercase;
	font-size:14px;
	font-weight:normal;
	letter-spacing:1px;
	margin-bottom:0px;
	margin-top:35px;}
	
#when-where .inner h4:first-child{
	margin-top:0px;}

#group-ride {
  margin-left: 10px;
}

/* 08. SOCIAL MODULE ================================================== */

#social_module {
	background-color:#111;
	padding:0px 0px 30px;
	text-align:center;}


#social_module a {
	text-decoration: none;}

#social_module  ul li{
	list-style:none;
	display:inline-block; 
	padding: 0px 20px 0px 20px;}

.icon{
	font-family:"Socialico";
	font-weight:400;
	font-style:normal;
	font-size:60px;
	color:#777;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out}
	
.icon:hover{
	color:#00ec1c;}

#social_module a svg {
  display: block;
}

#yelp-logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}

svg .starts-normal {
	fill:#777;
}

svg .starts-dark {
  fill: #111;
}

svg .starts-normal.slightly-darker {
	fill:#555;
}

a:hover svg .turns-green.slightly-darker{
	fill:#00ca0a;
  transition-property: fill;
  transition-duration: .5s;
}

a:hover svg .turns-green{
	fill:#00ec1c;
  transition-property: fill;
  transition-duration: .5s;
}


/* 09. FOOTER SECTION ================================================== */

footer {
	height:auto;
	width:100%;
	padding:20px 0px 20px 0;
	background-color:#333;
	font-family:'Montserrat', helvetica-neue, helvetica, arial, sans-serif;
	font-size:11px;
	letter-spacing:1px;
	position:static;
	bottom:0px;
	text-align:center;
}

footer img {
  width:150px;
}


