
/*

	00. Font Face
	01. Key Frames fade in
	02. Media Queries MAX WIDTH 1024px
	03. Media Queries MAX WIDTH 960px
	04. Media Queries MAX WIDTH 720px
	05. Media Queries MAX WIDTH 520px
	06. Media Queries for landscapes
	07. Media Queries for Portraits
	08. Media Queries for Works Grid
	09. Mobile Navigation Queries
	
	
*/


/* 01. KEY FRAMES FADE IN ================================================== */


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    opacity: 0.7;
    filter: alpha(opacity=70);
 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}


/* 02. MAX WIDTH 1024px ================================================== */

@media screen and (max-width: 1024px) {

}



/* 03. MAX WIDTH 960px ================================================== */



@media screen and (max-width: 960px) {

header {
	background: url('http://sphotos-f.ak.fbcdn.net/hphotos-ak-ash4/466076_379895285452239_555699419_o.jpg') center; /* CHANGE HERE */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

.roles {
    font-size: 30pt;  
}

  header h1 {
    font-size:130px;
  }


.lead {
	padding:20px 30px 10px 30px;
	font:18px'Montserrat', helvetica-neue, helvetica, arial, sans-serif;}
	
	
}

/* 04. MAX WIDTH 720px ================================================== */


@media screen and (max-width: 720px) {
  header {
    background: url('http://sphotos-f.ak.fbcdn.net/hphotos-ak-ash4/466076_379895285452239_555699419_o.jpg') center; /* CHANGE HERE */
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  header h1 {
    font-size:80px;
  }

  .roles {
      font-size:  30pt;  
  }

}


/* 05. MAX WIDTH 520px ================================================== */


@media screen and (max-width: 520px) {

	
  header {
    background: url('http://sphotos-f.ak.fbcdn.net/hphotos-ak-ash4/466076_379895285452239_555699419_o.jpg') center; /* CHANGE HERE */
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  header h1 {
    font-size: 60px;
  }


.lead {
	padding:10px 30px 10px 30px;
	font:15px/1.5 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;}


#when-where .row .col1 {
	width:90%;}

#when-where .row .col2 {
	width:90%;
	margin-top:30px;
	text-align: center;
}

#when-where .inner blockquote p{
	color:#fff;
	text-transform:uppercase;
	font:14px/1.3 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;;
}

footer {
	font-size:9px;}
	
}

/* 06. Smartphones (landscape) ================================================== */


@media only screen 
and (max-device-width : 550px) 
and (orientation : landscape) {
header {
	height:100%;
}


#tab a{
	display: none;}

header h1 {
	margin-top:5%;}
#wrapper {
	position:absolute;
	width:100%;}
#about .inner h2,
#when-where .inner h2,
#portfolio h2 {
	font:20pt/1.5 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;}


}

/* 07. Smartphones (portraits) ================================================== */


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : portrait) {
header {
	height:417px;
}
#wrapper {
	position:absolute;
	top:417px;
	width:100%;}

#tab a{
	position:absolute;
	bottom:-60px;}
	
header h1 {
	font-size:30pt;}
#about .inner h2,
#when-where .inner h2,
#portfolio h2 {
	font:20pt/1.5 'Montserrat', helvetica-neue, helvetica, arial, sans-serif;}
}

/* 07. iPads (landscape) ----------- */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* 07. iPads (portrait) ----------- */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
header h1 {
	margin-top:45%;}
}

/* 07. iPhone 4 ----------- */

/* @media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
header h1 {
	margin-top:50%;}
}

*/



/* 09. Mobile Navigation Queries ================================================== */ 

@media screen and (max-width: 650px) {

	nav #logo {
	float:left;
	display:inline-block;
	margin-left:0px;
	padding:15px 20px 10px 10px;
	vertical-align:middle;
	}

	nav ul li {
		display: none;
		}
	
	nav select text {color:red;}

	nav select {
      display: block;
		background: url('../images/nav-icon.png') no-repeat  ;
		width: 30px;
		border: none;
		height: 30px;
		display: inline-block;
		right: 15px;
		top: 10px;
		color: rgba(0, 0, 0, 0.0);
    }

}	
	
