@font-face {
    font-family: 'MagnetoBold';
    src: url('/webfonts/magnetob.eot');
    src: url('/webfonts/magnetob.eot') format('embedded-opentype'),
         url('/webfonts/magnetob.woff') format('woff'),
         url('/webfonts/magnetob.ttf') format('truetype'),
         url('/webfonts/magnetob.svg#MagnetoBold') format('svg');
}
